footer {
    background-color: initial;
    color: #6F6C6C;
}

body {
    font-size: 14px;
}

h2, .h2 {
    font-size: 40px;
}

h3, .h3 {
    font-size: 32px;
}

h4, .h4 {
    font-size: 20px;
    font-weight: normal;
}


p {
    font-size: 14px;
}

.modal-lg {
    width: 1200px;
}

.modal-body {
    padding: 25px;
}

.btn-lg, .btn-group-lg>.btn {
    font-size: 15px;
}

.login-screen {
    height: 100%;
    background-color: initial;
}

.login-form {
    margin-top: 10%;
    z-index: 2;
}
.login-form a {
    color: rgb(91, 86, 86);
}

.login-link {
    color: black;
}
