/*
 CSS Customization
*/

.page-body .selectboxit {
    display: inline;
}

.assoSelect {
	margin-top:45px;
	margin-left : -10px;
	margin-bottom:-20px;
}

.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
  opacity: 1;
}
