/*
 CSS Customization
*/

.page-body .selectboxit {
    display: inline;
}

.assoSelect {
	margin-top:45px;
	margin-left : -10px;
	margin-bottom:-20px;
}

.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
  opacity: 1;
}

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: 50px;
  left: 15px;
  display: block;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #E3F1E8;
}

.table-striped > tbody > tr {
  text-align: center;
  color: #3E3E3E;
}

.table-striped > thead > tr > th {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #3E3E3E;
}
